.preview-vid {
  position: relative;
  width: 100%;
  max-width: 1280px;
  max-height: 720px;
}

.preview-vid video {
  width: 100%;
  max-width: 1280px;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1280px;
}

.video-overlay p {
  font-size: clamp(11px, 3vw, 18px);
  color: #020202;
  margin: clamp(3px, 3vw, 25px);
  width: 60%;
}

.begin {
  font-size: clamp(14px, 3vw, 24px);
  color: red;
}

#controls {
  font-size: clamp(9px, 3vw, 14px);
}

.video-overlay a {
  color: #020202;
}

.video-overlay a:hover {
  color: salmon;
  cursor: pointer;
}

.gallery {
  margin-top: 10vh;
}

.gallery img {
  margin: clamp(100px, 14vh, 500px) 0;
  width: clamp(200px, 98%, 600px);
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 800px) 
and (-webkit-min-device-pixel-ratio: 2) {

  .gallery {
    transform: translateY(-10%);
    margin-bottom: 0px !important;
  }

  .bw {
    position: relative;
    padding: 40px;
  }

  .browser-check {
    background-color: #020202dd;
    left: 50%;
    padding: 0px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 600;
  }

  .browser-check p {
    font-size: clamp(18px, 1.8vw, 30px);
    color: #fdfdfd;
    text-align: center;
    line-height: 1.75em;
  }

  .close {
    position: absolute;
    transform: rotateZ(45deg);
    left: 10px;
    top: 0px;
    font-size: 30px !important;
  }
}